<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/inicio.css">
    <title>Title</title>
</head>
<body>
    <div class="button-container">
        <h1>Inicio de Sesion </h1>
        <form method="post" action="/iniciosesion">
            <label for="usuario">Ingresa tu nombre:</label>
            <input type="text" id="usuario" name="usuario" required>
            <br>
            <label for="contrasena">Ingresa tu contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>
            <br>
            <br>
            <button type="submit">Verificar</button>
        </form>
        {% if mensaje_bienvenida %}
            <div>

                <p>{{ mensaje_bienvenida }}</p>
            </div>
        {% elif intento_incorrecto %}
            <div>

                <p>Usuario o contraseña incorrectos.</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
